* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Eudoxus Sans", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: hidden;
}

#main {
  margin-top: 90px;
}

.action-button {
  margin-right: 7px;
}

.paginate {
  list-style: none;
  display: flex;
}

a {
  font-size: 20px;
  margin: 15px;
  list-style: none;
  text-decoration: none;
}

.download {
  margin: 0;
}

a:hover {
  color: yellow;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
}